
<% if current_page?(root_url) %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Melian Photography</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <% if current_user %>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<% else %>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">Melian Photography</a> -->
                <%= link_to "Melian Photography", root_path, class: "navbar-brand page-scroll" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
    <!--                 <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->

                    <!-- Categories Dropdowsn -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% @categories.each do |category| %>
                                    <li><%= link_to category.name, categorical_path(cat_id: category.id) %></li>
                                <% end %>
                            </ul>
                    </li>
                    <!-- End of Categories Dropdown -->

                    <li>
                        <% if current_page?(portfolio_path) %>

                          <a class="page-scroll" href="#page-top">Portfolio</a>
                        <% else %>
                          <%= link_to 'Portfolio', portfolio_path %>
                        <% end %>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    <!-- Manage Dropdowsn -->
                    <% if current_user %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <%= link_to 'New Post', new_post_path %>
                                </li>
                                <li>
                                    <%= link_to 'Manage Portfolio', manage_path %>
                                </li>
                                <li>
                                    <%= link_to 'Manage Categories', manage_categories_path %>
                                </li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% if current_user %>
                                        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

                                    <% end %>
                                </ul>
                        </li>
                    <% end %>
                    <!-- End of Manage Dropdown -->

                    <% if current_page?(admin_url) %>
                        <!-- My Account Dropdowsn -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <% if current_user %>
                                        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                                    <% else %>
                                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                                        <li><%= link_to "Login", new_user_session_path %></li>
                                    <% end %>
                                </ul>
                        </li>
                        <!-- End of My Account Dropdown -->
                    <% end %>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <% if current_page?(portfolio_path) %>
                    <h1 class="margin-top-tenpx">Portfolio</h1>
                <% elsif current_page?(categorical_path) %>
                    <h1 class="margin-top-tenpx"><%= @category.name %> Portfolio</h1>
                <% end %>
                <h2 style="padding: 5px; margin-top: 10px;">Live &centerdot; Love &centerdot; Capture Every Moment!</h2>

                <!-- <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Go to Portfolio</a> -->
            </div>
        </div>
    </aside>

<% end %>
